html {
    scroll-behavior: smooth;
}

.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

#textarea {
    resize: none;
}

section {
    padding-top: 5rem;
}
